@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 135px 1667.74px 702px 520px;
  font-family: 'Titillium Web', Helvetica, 'Trebuchet MS', Arial, sans-serif;
}

p {
  color: #4d4d4d;
}

a {
  text-decoration: none;
  color: #00b3e5;
}

header {
  grid-area: 1/ 1 / 2 / 5;
  border-bottom: 1px solid #bfbfbf;
}

#title {
  display: flex;
  margin: 20px 80px 8px;
  justify-content: space-evenly;
}

.newsletter {
  width: 233.41px;
}

#signUp {
  color: #999999;
  overflow-wrap: break-word;
  font-family: 'PT Serif', Georgia, serif;
  font-weight: 400;
}

#signUp:hover {
  text-decoration: underline;
}

.newsletter a {
  font-size: 16px;
  font-weight: 700;
}

#title img {
  width: 350px;
  height: 56px;
}

#subscribe {
  width: 240px;
  height: 46.66px;
  padding: 0 7.333px;
  border: none;
  background-color: #00b3e5;
  font-weight: 600;
  font-size: 14px;
  color: white;
  border-radius: 0.188rem;
  text-align: center;
}

#subheader {
  display: flex;
  margin: 0 175px;
}

nav {
  display: flex;
  width: 908px;
  justify-content: space-evenly;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 700;
  color: #002837;
}

nav h3 {
  border-bottom: 0 solid #002837;
  transition: border 0.2s ease-in;
}

#options {
  display: flex;
}

.active,
nav h3:hover {
  color: #00b3e5;
  border-bottom: 7px solid #002837;
}

.extra {
  color: #00b3e5;
}

.sideOption {
  color: #002837;
}

#options a {
  display: flex;
  cursor: pointer;
}

#options a h3:hover {
  cursor: pointer;
  color: #999999;
  text-decoration: underline;
}

#options img {
  height: 16px;
  margin-top: 7px;
  margin: 7px 3px 0 6px;
}

#content {
  grid-area: 2/1/3/5;
  margin: 20px 180px;
  display: flex;
}

article {
  width: 71%;
}

article h1 {
  margin: 2.5px 0 15px;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3rem;
}

#icons img {
  border-radius: 100%;
  width: 32px;
  padding: 2px;
  margin-right: 1px;
  cursor: pointer;
}

.facebook {
  background-color: #3b5998;
}

.twitter {
  background-color: #1da1f2;
}

.whatsapp {
  background-color: #4dc247;
}

.linkedin {
  background-color: #0077b5;
}

.reddit {
  background-color: #ff5700;
}

.mail,
.printer {
  background-color: #999999;
}

strong {
  color: #484848;
}

.date {
  margin: 7px 0;
}

.author {
  margin-bottom: 10px;
}

.author a {
  font-weight: 600;
}

.mainPhoto {
  width: 760px;
}

.caption {
  font-size: 12px;
  font-weight: 700;
  margin-top: -7px;
}

.reference {
  font-size: 12px;
  margin-top: -3px;
  margin-bottom: 20px;
}

.text {
  font-family: 'PT Serif', Georgia, serif;
  font-size: 17px;
  line-height: 25px;
  margin-bottom: 0.6875rem;
  color: #585858;
}

#readMore {
  background-color: #f5f5f5;
  height: 41px;
  padding: 9px;
  margin: 22px 0;
  font-weight: 700;
}

#moreInfo {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

#moreInfo button {
  background-color: #005587;
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 7.33px;
  border: none;
  border-radius: 0.188rem;
  margin-left: 10px;
  cursor: pointer;
}

aside {
  width: 29%;
}

#category {
  display: flex;
  justify-content: space-evenly;
}

#category h3 {
  background-color: #f5f5f5;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

#category h3:first-child {
  background-color: #00b3e5;
  color: white;
}

#news {
  margin: 5px 10px;
}

#news div {
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5px;
}

#news div p {
  font-weight: 700;
  color: #4d4d4d;
  font-size: 20px;
  width: 238px;
  cursor: pointer;
}

#news div p:hover {
  color: #00b3e5;
}

#news div h2 {
  color: #00b3e5;
  font-weight: 700;
  font-size: 2rem;
}

#moreContent {
  grid-area: 3/1/4/5;
  margin-left: 180px;
}

#upperContainer {
  display: flex;
  margin-bottom: 50px;
}

#buttons {
  display: flex;
  flex-flow: column;
}

#magazine {
  margin-left: 140px;
  margin-right: 10px;
}

#buttons button {
  width: 185px;
  height: 31px;
  margin-bottom: 10px;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 0.188rem;
  cursor: pointer;
}

.subscribe {
  background-color: #00b3e5;
}

.view {
  background-color: #20b2aa;
}

.buy {
  background-color: #ff0000;
}

#lowerContainer h2 {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 400;
}

#lowerContainer h3 {
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1.56rem;
}

#imageContainer {
  display: flex;
}

#imageContainer div,
#imageContainer img {
  width: 259px;
  margin-right: 15px;
}

#lowerContainer h4 {
  font-size: 18px;
  color: #4d4d4d;
  font-weight: 400;
  margin-top: 25px;
}

footer {
  grid-area: 4/1/5/5;
  background-color: #f5f5f5;
  padding-left: 180px;
}

footer h1 {
  margin: 25px 0 15px;
  font-size: 24px;
  font-weight: 700;
}

label {
  font-family: 'PT Serif', Georgia, serif;
  font-size: 16px;
  color: #4d4d4d;
}

input {
  background-color: inherit;
  font-family: 'PT Serif', Georgia, serif;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid black;
  width: 325px;
  margin: 0 10px;
}

form button {
  width: 240px;
  height: 30px;
  font-family: 'Titillium Web', Helvetica, 'Trebuchet MS', Arial, sans-serif;
  font-size: 16px;
  background-color: #005587;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 0.188rem;
}

.initialMenu {
  display: flex;
  margin: 30px 0 15px 230px;
}

.middleMenu {
  display: flex;
  margin: 10px 0 15px 280px;
}

.finalMenu {
  display: flex;
  margin: 10px 0 0 200px;
}

.footerMenu h5 {
  border-right: 1px solid black;
  font-family: 'PT Serif', Georgia, serif;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  margin-right: 0.6875rem;
  padding-right: 0.6875rem;
}

.footerMenu h5:last-child {
  border: none;
}

hr {
  margin-right: 180px;
}

#cookies {
  width: 150px;
  height: 30px;
  margin-top: 1.375rem;
  font-family: 'Titillium Web', Helvetica, 'Trebuchet MS', Arial, sans-serif;
  font-size: 16px;
  background-color: #005587;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 0.188rem;
  margin: 1.375rem 35% 0;
}

.follow div {
  display: flex;
  font-size: 16px;
  margin: 25px 0 10px 350px;
}

.follow div h4 {
  font-weight: 400;
  margin-right: 180px;
}

#followIcons {
  margin-top: 0;
}

#google {
  width: 110px;
  margin: 0 30px;
}

.footer {
  position: relative;
  margin: 0 !important;
}

.footer img {
  width: 26px !important;
  height: 26px !important;
  margin-right: 4px !important;
}

footer p {
  margin-top: 40px;
}

#disclaimer {
  position: fixed;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: #6aaae4;
  top: 93vh;
  left: 15px;
  z-index: 1;
}

#disclaimer img {
  position: relative;
  top: 10%;
  left: 20%;
}
